<% layout("/layouts/boilerplate") %>

<div class="container mt-3 mb-2" style="max-width:600px;">


  <h3>Edit your Listing</h3>

  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">

    <div class="mb-3">
      <label class="form-label">Title</label>
      <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea name="listing[description]" class="form-control" rows="3"><%= listing.description %></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Image Link</label>
      
      <input 
  name="listing[image][url]" 
  value="<%= listing.image.url %>" 
  type="text" 
  class="form-control">

    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">Price</label>
        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Country</label>
        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control">
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Location</label>
      <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control">
    </div>

    <button class="btn add-btn">Edit</button>
  </form>

</div>
